.Sign-upTitle > div{
    padding-left: 40px;
    padding-right: 0px;
    padding-top: 15px;
 }
 
 .aboutUs{
    color: white;
    display: flex;
 
    flex-direction: column;
 }
 .Cause > div{
    padding-left: 40px;
    padding-right: 0px;
    padding-top: 15px;
 
 }
 