.userHome{
    margin-top: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 500px;
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Next{
    display: flex;
    align-items: center;
    
    font-size: 30px;
    justify-content: center;

}

.Dates{
    display: flex;
    font-size: 25px;

    align-items: center;
    justify-content: center;

    margin-bottom: 15px;
    margin-top: 10px;

    font-weight: bold;
}

.but{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;





}

.but > button{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    
    

}


