.userHome{
    margin-top: 144px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 200px;
    
}

.header{
    display: flex;
    align-items: center;
}

.Next{
    display: flex;
    align-items: center;
    
    font-size: 30px;

}

.Dates{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.but{
    align-items: center;
    margin-bottom: 26px;



}

.but > button{
    margin-left: 37%;
    margin-top: 10px;
    
    

}
