body{

  font-family: Helvetica, Arial, Sans-Serif;
}

.frontApp{
  margin: 0;
  padding: 0;
}


.footer{
  background: #9fc753;
  position: absolute;
  margin-top: 39%;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: black;
  bottom: auto;
  width: 100%;
  padding: 0;
  margin: 0;


}

.footer > div{
  display: flex;
  flex-direction: row;
  margin-left: 21%;



}

.text{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:  center;
  font-size: 60px;

}
.text > div{
  margin-top: 20px;
 
}

.Welcome{
  text-decoration: underline;
}

.firstName{
  margin-top: 350px;
}

*{
  font-family:  Helvetica, Arial, Sans-Serif;
  margin: 0;
}

